{% extends "inventory/layout.html" %}

{% block titlepage %}
Inventario
{% endblock %}


{% block body %}


<div class="container">
    <div class="head-cont">
        <strong>Inventory </strong>
        <input class="head-cont" id="searchTerm" type="text" onkeyup="search_item()" placeholder="Search">
    </div>
    <table id="date-table">
        <thead>
            <th>Product Name</th>
            <th>Model</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Actions</th>

        </thead>
        <tbody>
            {% for product in products %}

            <tr>
                <td>{{product.name}}</td>
                <td>{{product.model}}</td>
                <td>${{product.price}}</td>
                <td>{{product.stock}} </td>
                <td><button class="button_blue"> Modify</button> <button class="button_red">Delete</button></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>


{% endblock %}