{% extends "inventory/layout.html" %}

{% block titlepage %}
Inventory
{% endblock %}


{% block body %}


<div class="container">
    <div class="head-cont">
        <strong>Inventory </strong>
        <input class="head-cont" id="searchTerm" type="text" onkeyup="search_item()" placeholder="Search">
    </div>
    <table id="date-table">
        <thead>
            <th>Product Name</th>
            <th>Model</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Actions</th>

        </thead>
        <tbody>
            {% csrf_token %}
            {% for product in products %}

            <tr>
                <td>
                    <p> <input type="text" class="inp-product-{{product.id}}" id="inp-name-{{product.id}}" value="{{product.name}}" style="display: none;"> </p>
                    <p class="row-product-{{product.id}}"> {{product.name}} </p>
                    
                </td>
                <td>
                    <p> <input type="text" class="inp-product-{{product.id}}" id="inp-model-{{product.id}}" value="{{product.model}}" style="display: none;"> </p>
                    <p class="row-product-{{product.id}}">{{product.model}}</p>

                </td>
                <td>
                    <p> <input type="text" class="inp-product-{{product.id}}" id="inp-price-{{product.id}}" value="{{product.price}}" style="display: none;"> </p>
                    <p class="row-product-{{product.id}}"> ${{product.price}} </p> 
                </td>
                <td>
                    <p> <input type="text" class="inp-product-{{product.id}}" id="inp-stock-{{product.id}}" value="{{product.stock}}" style="display: none;"> </p>
                    <p class="row-product-{{product.id}}"> {{product.stock}} </p> 
                </td>
                <td>
                    <button class="button_blue" onclick="modify_product({{product.id}})"> Modify</button> 
                    <button class="button_green" onclick="update_product({{product.id}})" style="display: none;"> Apply</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>


{% endblock %}