{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">

        
    <script src="{% static 'inventory/function.js' %}"> </script>

   

    <title>
        {% block titlepage %}

        {% endblock %}
    </title>
</head>
<body>
   {% if user.is_authenticated %} 
    <nav>
        <ul class="menu">
            <li class="logo ">
                <a href="{% url 'index'%}">  <strong>INVENTORY INC </strong>  </a>
            </li>
            <li class="item "><a href="{% url 'index'%} ">Inventory</a></li>
            <li class="item "><a href="{% url 'orders' %}">Make Orders</a></li>
            
            <li class="item "><a href="{% url 'show_reports' %}">Reports</a></li>
            <!-- <li> <button id="change-mode" onclick="change_mode()">Night Mode</button></li> -->

            <li class="log_option "><a href="{% url 'logout' %}">Log Out</a><a href="#">{{user.username}}</a></li>
        </ul>
    </nav>
    {% else %}

    <nav>
        <ul class="menu">
            <li class="logo "><a href="#">LOGO</a></li>
        </ul>
    </nav>

    {% endif %}

    {% block body %}
    
    {% endblock %}


</body>
</html>