{% extends "inventory/layout.html" %}


{% block titlepage %}
Orders {{order_type}}
{% endblock %}

{% block body %}


<div class="page">
    <div class="container ft-center">
        <div class="head-cont">
            <strong>Orders {{order_type}}</strong>
            <input class="head-cont" id="searchTerm" type="text" onkeyup="search_item()" placeholder="Search">
        </div>
        <table id="date-table">
            <thead>
                <th>No. Orden</th>
                <th>Client</th>
                <th>User Created</th>
                <th>Value</th>

            </thead>
            {% for order in orders %}
            <tr>
                <td> <a href="/inventory/show-order/{{order.id}}"> {{order.id}}  </a> </td>
                <td>{{order.client.name}} {{order.client.lastname}} </td>
                <td>{{order.user.username}} </td>
                <td>${{order.value}} </td>

                
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}