{% extends "inventory/layout.html" %}


{% block titlepage %}
Login
{% endblock %}

{% block body %}

{% if message %}
    {{message}}
{% endif %}

    <div class="container ft-cont">
        <div class="head-cont">
            <strong>Products In stock</strong>
            <input class="head-cont" type="text" value="buscar">
        </div>
        <table id="date-table">
            <thead>
                <th>Product Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
    
            </thead>
            <tbody>
                {% for product in products %}
    
                <tr>
                    <td id="item-name-{{product.id}}">{{product.name}}</td>
                    <td id="item-model-{{product.id}}">{{product.model}}</td>
                    <td id="item-price-{{product.id}}">${{product.price}}</td>
                    <td id="item-stock-{{product.id}}">{{product.stock}} </td>
                    <td><button data-page="{{product.id}}" class="button_blue" id="btn-add"> Add to Order </button> </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>
    
        <div class="ft-button">
        <button onclick="location.href='order-list/Sale'">Show Sales</button>
        <button onclick="location.href='order-list/Quote'">Show Quotes</button>
        <button onclick="location.href='client-list'">Show Clients</button>
    </div>
    

    <div class="container ft-cont">

        <div class="head-cont">
            <strong> Make Order </strong>

        </div>
        <div class="cotiza_container">
            <table id="cart-table">
                <thead>
                    <th>Product Name</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Amount</th>

                </thead>

                <tbody id="tbody_cart">
                    
                </tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                    <strong> TOTAL: $ </strong> 
                    </td>
                    <td id="total-cart">
                       
                    </td>
                </tr>
            </table>

            <div class="date_box">
                <div id="text_date">
                    Client Data:
                </div>
                <form id="order-form" class="item_date" method="POST">
                    {% csrf_token %}
                    <input name="name" type="text" placeholder="Name" >
                    <input name="lastname" type="text" placeholder="Lastname" >
                    <input name="identification" type="text" placeholder="Identification" >
                    <input name="telephone" type="text" placeholder="Telephone number" >
                    <input name="user_id" type="text" hidden value="{{user.id}}" >

                    <div class="button_container">
                        <button class="button_green" onclick="create_order('sale')"> Check In</button>
                        <button class="button_yellow" onclick="create_order('quote')"> Generate Quote </button>
                    </div>
                    
                </form>
               
            </div>
        </div>

    </div>




{% endblock%}