
{% extends "inventory/layout.html" %}
{% load static %}

{% block titlepage %}
Client
{% endblock %}

{% block body %}


<div class="page">

    <div class="container_flex">
        <div class="box-client">
            <img src="{% static 'images/user2.svg' %}" width="50px">
        </div>

        <div class="box-client  ft-mid">
            <div id="text_date">
                Client Data:
            </div>
            <form action="{{client.id}}" class="item_client" method="POST">
                {% csrf_token %}
                <p> Name: <input type="text" name="name" value="{{client.name}}"></p>
                <p> Lastname: <input type="text" name="lastname" value="{{client.lastname}}"></p>
                <p> Identification: <input type="text" name="identification" value="{{client.id_number}}"> </p>
                <p> Telephone: <input type="text" name="telephone" value="{{client.tel}}"> </p>

            </div>
            <div class="box-client ft-end">
                <button class="button_blue" type="submit"> Update </button>
    
            </div>

            </form>

    
    </div>

    <div class="container_flex ft-colum">
        <div class="head-cont">
            <strong>Orders </strong>
            <input class="head-cont" id="searchTerm" type="text" onkeyup="search_item()" placeholder="Search">
        </div>

        <div>
            <table id="date-table">
                <thead>
                    <th>id Order</th>
                    <th>Order Type</th>
                    <th>Value</th>
                    <th>User Created</th>
                    

                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td><a href="/inventory/show-order/{{order.id}} ">{{order.id}}  </a> </td>
                        <td>{{order.kind}}</td>
                        <td>${{order.value}}</td>
                        <td>{{order.user.username}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>




</div>

{% endblock %}